extends layout

block content
  #discoBallLight
  #discoBall
    #discoBallMiddle

  h1.title= title
  div(id='dancefloor')
  div.footer
    img(src='images/newrelic_logo.png' height=50)
  script(src='javascripts/gopher.js')
  script(src='javascripts/dance.js')
  script(src='javascripts/disco.js')
