extends layout

block content
  h1.title Cool Performacne Stuff
  .wrapper
    iframe(src='https://rpm.newrelic.com/public/charts/4By86WiYwTp', width='500', height='300', scrolling='no', frameborder='no')
